<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary">

      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        
        <ion-icon slot="icon-only" name="menu" class="iconPaddingLeft iconosSize"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>